.content {
  h1 {
    @apply uppercase font-bold leading-none font-londrina text-zinc-100;

    font-size: min(max(3rem, 6.25vw), 7rem);
    text-wrap: balance;

    @supports (font-size: clamp(3rem, 6.25vw, 7rem)) {
      font-size: clamp(3rem, 6.25vw, 7rem);
    }
  }

  h2 {
    text-wrap: balance;
    @apply mt-10 scroll-m-20 border-b border-b-zinc-300 pb-1 text-3xl font-semibold tracking-tight first:mt-0 font-calsans text-white;
  }

  h3 {
    text-wrap: balance;
    @apply mt-8 scroll-m-20 text-2xl font-semibold tracking-tight text-zinc-100;
  }

  h4 {
    text-wrap: balance;
    @apply mt-8 scroll-m-20 text-xl font-semibold tracking-tight text-zinc-100;
  }

  h5 {
    text-wrap: balance;
    @apply mt-8 scroll-m-20 text-lg font-semibold tracking-tight text-zinc-100;
  }

  h6 {
    text-wrap: balance;
    @apply mt-8 scroll-m-20 text-base font-semibold tracking-tight text-zinc-100;
  }

  a {
    text-wrap: balance;
    @apply font-bold text-hot-pink underline underline-offset-4 hover:text-white;
  }

  em, em > * {
    @apply text-right text-sm text-zinc-600 italic font-normal;
    a {
      @apply hover:text-zinc-500
    }
  }

  p:has(> em) {
    /* Estilos para el elemento p que tiene un hijo em */
    @apply text-right pt-1 pe-5;
  }

  p {
    text-wrap: pretty;
    @apply leading-7;
  }

  p:not(:first-child, :has(> em)) {
    @apply mt-6;
  }

  ul {
    @apply my-6 ml-6 list-disc pl-5;
  }

  ol {
    @apply my-6 ml-6 list-decimal;
  }

  li {
    @apply mt-2;
  }

  blockquote {
    @apply mt-6 border-l-2 border-hot-pink pl-6 italic text-zinc-400;
  }

  blockquote > * {
    @apply text-zinc-400;
  }

  img {
    @apply rounded-md border border-transparent;
  }

  hr {
    @apply my-4 border-zinc-800 md:my-8;
  }

  table {
    @apply w-full;
  }

  tr {
    @apply m-0 border-t border-zinc-800 p-0 even:bg-zinc-700;
  }

  th {
    @apply border border-zinc-800 px-4 py-2 text-left font-bold;
  }

  th[align=center] {
    @apply text-center;
  }

  th[align=right] {
    @apply text-right;
  }

  td {
    @apply border border-zinc-800 px-4 py-2 text-left;
  }

  td[align=center] {
    @apply text-center;
  }

  td[align=right] {
    @apply text-right;
  }

  pre {
    @apply mt-6 mb-4 overflow-x-auto rounded-lg bg-zinc-900 py-4 px-4;
  }

  code {
    @apply relative rounded bg-zinc-700 border-zinc-600 py-[0.2rem] px-[0.4rem] font-mono text-zinc-100;
  }

  strong {
    @apply font-bold text-zinc-200;
  }
}

.content section>*:first-child {
  @apply mt-0 pt-0;
}


.personality-formal .content {
  h1 {
    @apply text-white normal-case;
  }

  >p {
    @apply leading-normal;
  }
}

.tag {
  h1 {
    font-size: min(max(1rem, 4.25vw), 5rem) !important;

    @supports (font-size: clamp(1rem, 4.25vw, 5rem)) {
      font-size: clamp(1rem, 4.25vw, 5rem) !important;
    }
  }
}